@model Ams.ViewModels.PaymentVm

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    form {
        width: 50%;
        margin-top: 3%;
    }
</style>
<form asp-action="Create">
    <div class="card">
        <div class="card-body">
            <div class="card-header">
                <h5 class="card-title" style="text-align:center;">Record Payment</h5>
            </div>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="date" class="control-label">Date</label>
                        <input type="date" asp-for="date" class="form-control" />
                        <span asp-validation-for="date" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="PayableLedger" class="control-label">Payment to</label>
                        <select asp-for="PayableLedger" asp-items="@Model.PayableLedgerSelectList()" class="form-control">
                            <option value="">select</option>
                        </select>
                        <span asp-validation-for="PayableLedger" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="amount" class="control-label">Amount</label>
                        <input asp-for="amount" class="form-control" />
                        <span asp-validation-for="amount" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="ledger_id" class="control-label">Cash/Bank</label>
                        <select asp-for="ledger_id" asp-items="@Model.LegerSelectList()" class="form-control">
                            <option value="">select</option>
                        </select>
                        <span asp-validation-for="ledger_id" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="remarks" class="control-label">Remarks</label>
                    <textarea asp-for="remarks" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="remarks" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-lg-2">
                    <input type="submit" value="Create" class="btn btn-primary btn-block req-ack" />
                </div>
                <div class="col-lg-3">
                    <a asp-action="Index" class="btn btn-secondary btn-block">Back to List</a>
                </div>
            </div>
        </div>

    </div>
    </div>
    </div>
</form>





@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


