@model Ams.ViewModels.BankVm

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post">
  
    <div>
        <h3 style="text-align:center;">New Bank</h3>
        <table class="table table-bordered" id="copy_tbl">
            <thead>
                <tr class="table-primary" style="text-align:center;">
                    <th style="width:20%;">Name</th>
                    <th>Account No</th>
                    <th>Bank Address</th>
                    <th>Contact</th>
                    <th>Initial Amount</th>
                    <th>Remarks</th>
                    
                </tr>
            </thead>
            <tbody>
                @for(var i = 0;i<5; i++)
                {
               
                <tr>
                    <td><input type="text" class="form-control" name="Bank_name"></td>
                        <td><input type="text" class="form-control" name="Account_no"> </td>
                        <td><input type="text" class="form-control" name="Address"> </td>
                        <td><input type="number" class="form-control" name="Contact"> </td>
                        <td><input type="number" class="form-control" name="Balance"> </td>
                        <td><input type="text" class="form-control" name="Remarks"> </td>
                </tr>
               }
            </tbody>
        </table>
        <button type="submit" name="save" class="btn btn-primary btn-sm"><i class="fa fa-save"></i> Save</button>
      </div>

</form>




