@model IEnumerable<Ams.Models.Bank>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="get" style="margin-top:2%">
    <div style="margin:auto; width:98%; ">


<h3 style="text-align:center">Bank Details</h3>


<table class="table table-bordered table-striped table-hover table-sn ">
    <thead>
        <tr class="table-primary">
            <th>
               Name
            </th>
            <th>
                Account No
            </th>
            <th>
                Address
            </th>
            <th>
               Contact
            </th>
          
            
          
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Bank_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account_no)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact)
                </td>
                
               
            </tr>
        }
    </tbody>
</table>
</div>
</form>