@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div style="width:90%; margin:20px 15px;">
    <div class="row">
        <div class="col-sm-2">
            <a href="" class="text-decoration-none card" style="box-shadow: 0px 0px 6px grey;">
                <div class="card-body">



                    <h3 class="card-title"><i class="fa-solid fa-money-bill-1-wave" style="margin-right:10px; "></i>Rs.<?= $result ?> </h3>
                    <h7 class="card-text">Total Expenses</h7>



                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="" class="text-decoration-none card" style="box-shadow: 0px 0px 6px grey;">
                <div class="card-body">



                    <h3 class="card-title"><i class="fa-solid fa-money-bill-1-wave" style="margin-right:10px; "></i>Rs.<?= $result ?> </h3>
                    <h7 class="card-text">Total Income</h7>



                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="" class="text-decoration-none card" style="box-shadow: 0px 0px 6px grey;">
                <div class="card-body">



                    <h3 class="card-title"><i class="fa-solid fa-money-bill-1-wave" style="margin-right:10px; "></i>Rs.<?= $result ?> </h3>
                    <h7 class="card-text">Total Payment</h7>



                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="" class="text-decoration-none card" style="box-shadow: 0px 0px 6px grey;">
                <div class="card-body">



                    <h3 class="card-title"><i class="fa-solid fa-money-bill-1-wave" style="margin-right:10px; "></i>Rs.<?= $result ?> </h3>
                    <h7 class="card-text">Total Receipt</h7>



                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="" class="text-decoration-none card" style="box-shadow: 0px 0px 6px grey;">
                <div class="card-body">



                    <h3 class="card-title"><i class="fa-solid fa-money-bill-1-wave" style="margin-right:10px; "></i>Rs.<?= $result ?> </h3>
                    <h7 class="card-text">Remaining Cash</h7>



                </div>
            </a>
        </div>
        </div>
        </div>
