@model Ams.View_Models.UserVm

@{
    ViewData["Title"] = "Create";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/User.css" />
 <form method="post">
        <h3 style="color: green; text-align:center; margin-top:3px">Register to continue</h3>
        <div style="width: 90%; margin:auto;">

            <div class="flex mb-2">

                <input type="text" name="Bank name" placeholder="Name" required>
                <input type="text" name="Account_no" placeholder="Last Name" required>
            </div>
            <div>

            
           



            <button type="submit" style="cursor:pointer;" id="reg_btn" name="save">Register</button>

</form>