@model Ams.View_Models.LedgerVm


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    form
    {
        width:50%;
        margin-top:3%;
        margin-left: 3%;
    }
</style>


<form asp-action="Create">
    <div class="card">
        <div class="card-body">
            <div class="card-header">
                <h5 class="card-title" style="text-align:center;">Create Ledger</h5>
            </div>
            </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                        <label asp-for="Parent_ledgerId" class="control-label">Parent Group</label>
                        <select asp-for="Parent_ledgerId" asp-items="@Model.ParentGroupList()" class="form-control">
                            <option value="">select</option>
                        </select>
                        <span asp-validation-for="Parent_ledgerId" class="text-danger"></span>
                </div>
            </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label  class="control-label">Parent Group Code</label>
                        <input  readonly class="form-control" />
                        
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="code" class="control-label">Code</label>
                        <input asp-for="code" class="form-control" />
                        <span asp-validation-for="code" class="text-danger"></span>
                    </div>
                </div>
                    <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="Ledger_name" class="control-label">Name</label>
                    <input asp-for="Ledger_name" class="form-control" />
                    <span asp-validation-for="Ledger_name" class="text-danger"></span>
                </div>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label">Description</label>
                    <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div  style="margin-right:10%">
                    <input type="submit" value="Create" class="btn btn-primary btn-block  req-ack"/>
                            </div>
                            
                        </div>
                </div> 
 
    </div>
    </div>
        </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
